.navbar{
    height:140px;
    color:white;
}

.nav-item a{
    color:white;
    font-family: 'Crete Round', serif;
    padding-left: 35px;
    padding-right: 35px;
}


h1 {
    font-size: 3rem;
    line-height: 36px;
    margin-top: 200px;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

p{
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 1px;
}

.img-responsive:hover{
    transform:scale(1.2);
}

.button {
    background-color:black;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    margin-top: 20px;
  }

.button:hover{
    background: white;
    color: black;
    border: 1px black;
}

.button1 {
    border-radius: 18px;
}

.button2 {
    border-radius: 18px;
}

.button3 {
    border-radius: 18px;
}

.button4 {
    border-radius: 18px;
}

header{
    width: 70%;
}

.container{
    margin: 0;
    padding: 0;
}

body{
    margin-left: 5%;
    margin-right: 5%;
    background-color: lightgray;
}

.foot-bg a {
    color: white;
}
footer {
    position: relative;
}
.foot-bg{
    background: #141312;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.foot-bg hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    width: 50px;
}
.ce_hyperlink.grey a, .button-block.grey a, p.back.grey a {
    color: #141312;
    background: #e3e2e2;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 10px 18px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 0.9rem;
}
.container {
    max-width: 100%;
}
header p, .foot-p, .foot-p a{
    color: #141312;
}
.payment-head {
    font-size: 2rem;
    padding-left: 7vh;
}
.payment {
    padding-left: 3vh;
}
header a {
    color: #141312;
}
header ul, header h1 {
    padding: 1vh;
}
.width_hr {
    width: 98%;
}
.foot-l li {
    padding-left: 4%; 
}
@media (max-width: 320px){
    #up-arrow {
        visibility: hidden;
    }
}

.col-md-6  ul{
        display: inline;
}